
body {
    background-color: rgb(216, 213, 132);
    color: rgba(255, 255, 255, 0.971);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

/* .countrypage {
    display: flex;
    justify-content: space-between;
} */

 .destinations {
    display: flex;
    flex-direction: row; 
    padding: 20px; 
    justify-content: space-evenly;
}  

.destinationsTwo {
    display: flex;
    flex-direction: row; 
    padding: 20px; 
    justify-content: space-evenly;
}  

.containerOne {
    display: flex;
    flex-direction: row; 
    align-items: center;
    padding-top: 50px; 
}

.containerTwo {
    display: flex;
    flex-direction: row; 
    align-items: center;
    padding-top: 50px; 
}

/* .container img {
    width: 500px;
} */

.button {
    margin-top: 20px;
    background-color: rgb(202, 202, 202);
    padding: 10px;
    border-style: solid;   
    border-color: rgb(0, 0, 0);
    border-radius: 20px; 
    font-size: small;
    font-family: Verdana;
    font-weight: bold;
}

.destination {
    text-align: center;
}

.destinationList {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 80%;
}

.destinationCard {
    margin: 1em;
    background-color: slategray;
    border: solid;
    border-radius: 10px;
    width: 250px;
    flex-basis: 25%;
}

.destinationImg {
    align-self: center;
}

img {
    width: 200px;
    height: auto;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /* background-color: #228B22; */
    border-bottom: solid;
}

.logo {
    width: 100px;
    height: auto;
    margin: 1em;
}

footer {
    margin: 0px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: slategray;
    position: sticky;
    left: 0;
    right: 100;
    padding: 1em;
}